.service_container {
    display: flex;
    height: 100vh;
    width: auto;
    align-items: center;
    background-color: rgba(19, 4, 4, 0.63);
    justify-content: center;
    color: white;
}

.service {
    border: 1px solid white;
    text-align: center;
    padding: 15px;

}

.service h3 {
    font-size: 25px;
    font-weight: 600;

}

.service p {
    font-size: 18px;
    font-weight: 600;
}