.service {
    padding: 30px;
    text-align: center;
    margin: 10px 0;
}

.service h3 {
    font-size: 25px;
    font-weight: 600;
    margin: 15px 0;
}

.service p {
    font-size: 18px;
    font-weight: 600;
}