.banner_row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
    /* background-color: red; */
    /* text-align: center; */

}

.banner_btn {}

.banner_image {
    width: auto;
    text-align: center;
}

.banner_image img {
    max-width: 100%;
}