* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    width: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
    text-align: left;
    overflow: hidden;
}

/* .banner_row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
   
} */


.banner_image {
    width: auto;
    text-align: center;
}

.banner_image img {
    width: 400px;
    height: 400px;
    border-radius: 50%;

}